.bottom-bar {
    bottom: 0;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
    position: sticky;
}

span {
    color: #fff;
}

.row {
    background: #0057A6;
    padding: 10px
}