<!-- Comentários com o data binding e template forms serão identificados -->
<div class="container">
  <div class="ordem-compra" *ngIf="orderDoneId === undefined else orderAlredyDone">
    <!-- <form novalidate> este formulário se referia ao data binding -->
    <!-- <form #buyForm="ngForm" novalidate (ngSubmit)="orderConfirmation(); templateFormConfirmation(buyForm)"> este formulário se referia ao templateForms 
      Atribuir o ngForm gera uma representação deste formulário pelo próprio Angular;
        veja os dados disso com {{ nomeDaVariável.valor | json }}, apenas cuidado com o valor circular -->
    <!-- Agora vamos ao Reactive Forms: o primeiro passo é atribuir a propriedade formGroup do template com o formGroup da classe, sendo desnecessário qualquer variável de template: -->
    <form [formGroup]="theReactiveFormGroup" (ngSubmit)="orderConfirmationReactiveForms()" novalidate>
      <h5>Sua Compra</h5>
      <hr />
      <section *ngIf="currCart.length > 0 else emptyCartMessage">
        <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0"
          *ngFor="let cartItem of currCart; let isOdd = odd">
          <!-- <div [ngClass]="isOdd ? 'odd' : ''"> -->
          <div class="form-group col-sm-1">
            <img [src]="cartItem.image" class="img-fluid">
          </div>
          <div class="form-group col-sm-6"> {{cartItem.title}} <br /> {{cartItem.offerDescription}} </div>
          <div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-danger" (click)="decreaseItemQty(cartItem)">-</button>
                {{cartItem.quantity}} <button type="button" class="btn btn-success"
                  (click)="increaseItemQty(cartItem)">+</button>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-3 d-flex justify-content-end"> {{cartItem.quantity * cartItem.price | currency}}
          </div>
        </div>
        <!-- </div> -->
        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <!-- É possível chamar um método diretamente no template quando for de um serviço injetado:
            <h4>Total do pedido: {{cartService.sumTotalPrice() | currency}}</h4>
           mas, para não ficar macarrônico, vamos colocar um método na classe para chamá-lo-->
            <h4>Total do pedido: {{orderTotalPrice()| currency}}</h4>
          </div>
        </div>
      </section>
      <ng-template #emptyCartMessage>
        <div class="form-row d-flex justify-content-center"
          style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <h1>Seu carrinho está vazio =(</h1>
        </div>
      </ng-template>
      <br />
      <!-- Apenas para visualização do templateForms em ação
        <pre> Válido? {{ buyForm.valid | json }}</pre>
      <pre> Inválido? {{ buyForm.invalid | json }}</pre> -->
      <h5>Dados de entrega</h5>
      <hr />
      <div class="form-row">
        <div class="form-group col-md-6">
          <!-- Vamos trocar todos os [ngClass] agora, pois, estamos utilizando o templateForms, então só aplicaremos estilos de acordo com as classes dos mesmos, para isso, vamos até os arquivos css/scss.
          Todos os inputs e selects tinham algo como [ngClass]="addressValid ? 'form-control is-valid' : 'form-control is-invalid'" + todas as linhas, agora não possuem mais: 
          <input type="text" placeholder="Endereço" autocomplete="off" minlength="5" #inputAddress [value]="address"
            (input)="updateAddress('address', inputAddress.value)" name="address" ngModel #formInputAddress="ngModel"
            required>
          Ao colocar o atributo "name" e referenciar com o atributo ngModel, a chave "address" foi adicionada ao value do nosso form, veja que agora buyForm.value possui a propriedade address, e o conteúdo dela será o digitado no input 
           <small class="invalid-feedback" *ngIf="!addressValid else campOk">Endereço inválido</small> 
          <small *ngIf="!formInputAddress.valid && formInputAddress.touched">Endereço inválido</small>
          <small *ngIf="formInputAddress.valid && formInputAddress.touched">OK!</small>
          Tudo isso se referia ao templateFOrms
        -->
          <!-- Para fazer a referência dos campos controlados à classe, basta utilizar a propriedade formControlName, atribuindo o valor do respectivo campo da classe: -->
          <input type="text" placeholder="Endereço" autocomplete="off" formControlName="address">
          <!-- Veja a sintaxe para recuperar os atributos (valid, touched, pristine, etc): -->
          <small *ngIf="!theReactiveFormGroup.get('address')?.valid && theReactiveFormGroup.get('address')?.touched ">
            Endereço inválido</small>
          <small *ngIf="theReactiveFormGroup.get('address')?.valid && theReactiveFormGroup.get('address')?.touched">
            OK!</small>
        </div>
        <div class="form-group col-md-2">
          <!-- Como os valores dos campos de ngForms (pristine, valid, etc.) estão dentro do ngModel,
          podemos referenciar uma variável template ao ngForm, no exemplo abaixo, faremos #formInputAddressNumber="ngModel"
          <input type="number" placeholder="Número apto/casa" autocomplete="off" min="0" #inputAddressNumber
            [value]="addressNumber" (input)="updateAddress('addressNumber', inputAddressNumber.value)"
            name="addressNumber" ngModel #formInputAddressNumber="ngModel" required />
           Com isso podemos referenciar diretamente o ngModel para mostrar ou não a mensagem.
            Ao invés de: 
            <small class="invalid-feedback" *ngIf="!addressNumberValid else campOk">Número inválido</small>, faremos:
           <small *ngIf="!formInputAddressNumber.valid && formInputAddressNumber.touched">Número inválido</small>
          <small *ngIf="formInputAddressNumber.valid && formInputAddressNumber.touched">OK!</small>
           Veja os valores da variável que aponta ao ngModel com: 
           <p>{{formInputAddressNumber.valid}}</p> -->
          <!-- Tudo isso acima se referia à template forms -->
          <input type="number" placeholder="Número apto/casa" autocomplete="off" formControlName="addressNumber" />
          <small
            *ngIf="!theReactiveFormGroup.get('addressNumber')?.valid && theReactiveFormGroup.get('addressNumber')?.touched ">
            Número inválido</small>
          <small
            *ngIf="theReactiveFormGroup.get('addressNumber')?.valid && theReactiveFormGroup.get('addressNumber')?.touched">
            OK!</small>
          <br />
        </div>
        <div class="form-group col-md-4">
          <!-- <input type="text" placeholder="Complemento" autocomplete="off" [value]="addressComplement"
            #inputAddressComplement (input)="updateAddress('addressComplement', inputAddressComplement.value)"
            name="addressComplement" ngModel>
          <small class="invalid-feedback" *ngIf="!addressComplementValid else campOk">Coloque um complemento</small>
          <ng-template #campOk>
            <small class="valid-feedback">Campo OK!</small>
          </ng-template> -->
          <!-- Há dataBinding e TemplateForms acima -->
          <input type="text" placeholder="Complemento" autocomplete="off" formControlName="addressComplement">
          <small
            *ngIf="!theReactiveFormGroup.get('addressComplement')?.valid && theReactiveFormGroup.get('addressComplement')?.touched ">
            Complemento inválido</small>
          <small
            *ngIf="theReactiveFormGroup.get('addressComplement')?.valid && theReactiveFormGroup.get('addressComplement')?.touched">
            OK!</small>
        </div>
      </div>
      <br />
      <h5>Dados de pagamento</h5>
      <hr />
      <div class="form-row">
        <div class="form-group col-md-3">
          <!-- <select #paymentMethodSelect (change)="updatePaymentMethod(paymentMethodSelect.value)" name="payMethod"
            ngModel #formPaymentMethodSelect="ngModel" required>
            <option value="">Selecione uma opção</option>
            <option value="money" selected="{{payMethod === 'money' ? 'selected' : ''}}">Dinheiro</option>
            <option value="debitCard" selected="{{payMethod === 'debitCard' ? 'selected' : ''}}">Débito</option>
          </select>
         <small class="invalid-feedback" *ngIf="!payMethodValid else campOk">Selecione uma forma de pagamento</small> 
          <small *ngIf="!formPaymentMethodSelect.valid && formPaymentMethodSelect.touched">Forma pgto. inválida</small>
          <small *ngIf="formPaymentMethodSelect.valid && formInputAddressNumber.touched">OK!</small> -->
          <!-- Há dataBinding e templateForms acima -->
          <select formControlName="payMethod">
            <option value="">Selecione uma opção</option>
            <option value="money">Dinheiro</option>
            <option value="debitCard">Débito</option>
          </select>
          <small
            *ngIf="!theReactiveFormGroup.get('payMethod')?.valid && theReactiveFormGroup.get('payMethod')?.touched ">
            Método inválido</small>
          <small *ngIf="theReactiveFormGroup.get('payMethod')?.valid && theReactiveFormGroup.get('payMethod')?.touched">
            OK!</small>
        </div>
      </div>
      <hr />
      <!--  O botão abaixo tinha >(click)="$event.preventDefault(); orderConfirmation(); "< 
        para confirmar o formulário, nós substituímos pela diretiva ngSubmit lá na tag <form>,
          ficou bem mais limpo, não? -->
      <!-- <button type="submit" class="btn btn-primary btn-lg" [disabled]="confirmButtonDisabled">Confirmar compra</button> 
      aqui acima foi feito com o templateForms-->
      <!-- Com reactiveForms, para desabilitar o botão até que esteja tudo válido:
       <button type="submit" class="btn btn-primary btn-lg" [disabled]="!theReactiveFormGroup.valid">Confirmar
      compra</button> 
    OU manter o botão sempre ativo, porém, com ressalvas caso clicado:-->
      <button type="submit" class="btn btn-primary btn-lg">Confirmar compra</button>
    </form>
  </div>
  <ng-template #orderAlredyDone>
    <urbanBird-order-buy-success [orderIdExists]="orderDoneId"></urbanBird-order-buy-success>
  </ng-template>
</div>
