<main class="container">
  <header class="secao">
    <h3 class="text-center">Rodízios, Buffet, Carnes Especiais, Feijoada e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas de restaurantes:</h5>
  </header>
  <hr />
  <div *ngFor="let rOffer of restaurantOffers">
    <article class="row">
      <div class="col-md-4">
        <img [src]="rOffer.imagens[0].url" class="img-fluid" />
      </div>
      <div class="col-md-8">
        <div class="row">
          <h4>{{rOffer.titulo}}</h4>
        </div>
        <div class="row">
          <h5>{{rOffer.descricao_oferta}}</h5>
        </div>
        <div class="row">
          <p>Anunciado por: <b>{{rOffer.anunciante}}</b></p>
        </div>
        <div class="row">
          <p>R$ {{rOffer.valor.toFixed(2).replace('.', ',')}}</p>
        </div>
        <div class="row">
          <!-- routerLink também pode ser passado para botões -->
          <button [routerLink]="['oferta', rOffer.id]" class="btn btn-outline-success">Ver oferta</button>
        </div>
      </div>
    </article>
    <hr />
  </div>
</main>
