<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a routerLink="/" class="navbar-brand">
        <img src="/assets/logo.png" />
      </a>
      <a [routerLink]="['ordem-compra']"><img src="/assets/carrinho.png" /></a>
      <a [routerLink]="['just-test']" style="font-size: small; width: 10%;">Ir para página de testes</a>
      <!-- #searchInput é a variável de referência que aponta para o input, facilitando a recuperação do value no mesmo elemento HTML;
      afinal, não é mais necessário passar o evento e dissecá-lo na lógica da função -->
      <div>
        <input type="text" id="search-input" class="form-control" placeholder="Pesquise ofertas" #searchInput
          (keyup)="search(searchInput.value)" />
        <ul class="list-group" style="position: absolute;">
          <!-- Seria possível retirar o subscribe do atributo 'theSearchedOffers' e simplesmente passar 
          *ngFor="let theOffer of theSearchedOffers | async", pois o pipe '| async' recuperaria os valores do observable assim que estivessem disponíveis -->
          <li class="list-group-item" aria-current="true" *ngFor="let theOffer of theSearchedOffers"
            [hidden]="hiddenUl">
            <a [routerLink]="['oferta', theOffer.id]" (click)="clearSearch(searchInput)">
              {{theOffer.titulo | reducedDescription:9}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <article>{{currDate | date:'dd/MM/yyyy hh:mm:ss'}}</article>
  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/restaurants">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/fun">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>
