<main class="container">
  <section class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </section>
  <hr />
  <div class="row">
    <article class="col-sm-4" *ngFor="let item of everyOffer; let i = index">
      <div class="card">
        <img class="card-img-top" [src]="item.imagens[i].url">
        <div class="card-block">
          <h4 class="card-title">{{item.titulo}}</h4>
          <p class="card-text">{{item.descricao_oferta}}</p>
          <p class="preco">R${{item.valor.toFixed(2).replace('.', ',')}}</p>
          <a href="#" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </article>
  </div>
</main>
